

<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">Category</h1>
    </header>
    <content has-header="true">
    </content>
</div>
<view title="'Choose category'">
    <content has-header="true" padding="true">
        <div class="list card" >
            <img class="full-image" style="max-width:400px" src="{{ image.uri }}">
            <label class="item item-input">
                <input type="text" ng-model="image.name" name="name" placeholder="Enter bill's name">
            </label>
            <h3>Choose category:</h3>
            <label class="item item-radio" ng-repeat="c in categories">
                <input type="radio" ng-model="image.category_id" name="category" value="{{ c.id }}" ng-click="" >
                <div class="item-content">
                    <span ng-if="c.parent_id" style="margin-left:15px;float:left">&nbsp;</span>
                    {{ c.name | ucfirst}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <button class="button button-full button-positive" ng-click="updateImage(image)">Save information</button>

            <h3>&nbsp;</h3>
            <h3>&nbsp;</h3>
        </div>
    </content>
</view>
