
<view title="'Add Category'">
    <content has-header="true" padding="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="category.name" name="name" placeholder="Catergory name">
            </label>
            <br>
            Choose the parent category if one:
            <div class="list">
                <label class="item item-radio" ng-repeat="c in categories | rootOnly">
                    <input type="radio" ng-model="category.parent" name="category" value="{{ c.id }}" ng-click="" >
                    <div class="item-content">
                        {{ c.name | ucfirst}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
            <button class="button button-outline button-positive" ng-click="saveCategory(category)">Save</button>
    </content>
</view>
