
<view title="'Archibill.it'">
  <content has-header="true" >
      <button class="button button-full button-balanced" ng-click="openTipsDialog()">
          <i class="icon ion-camera"></i> take picture1
      </button>
      <a class="button button-full button-balanced" href="#/tab/manage">
          <i class="icon ion-filing"></i> manage category*
      </a>
      <a class="button button-full button-balanced" href="#/tab/option">
          <i class="icon ion-gear-a"></i> option
      </a>
      <a class="button button-full button-balanced" href="#/tab/send">
          <i class="icon ion-paper-airplane"></i> send me all archive
      </a>
  </content>
</view>
