

<view title="'Manage Category'">
  <content has-header="true"  padding="true">
      <div class="list">

              <div ng-repeat="item in categories" item="item" class="item item-button-right">
                  <span ng-if="item.level" style="margin-left:15px;float:left">&nbsp;</span>
                  {{ item.name }}
                <button class="button icon ion-android-trash button-assertive"  ng-click="deleteCategory({{ item.id }})">
                </button>
              </div>
          </div>

    <div class="button button-outline button-balanced"  ng-click="createCategoryModal()">
        <i class="icon-left ion-plus-round"></i> New category
    </div>
  </content>
</view>
