
<view title="'Options'">
    <content has-header="true" padding="true">

        <div class="card">
            <div class="item item-text-wrap">

                <span ng-if="noEmail" class="assertive" >You need to enter an email to download your backup</span>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="user.email" name="email" placeholder="Email">
                    </label>
                    <button class="button button-small" ng-click="saveEmail(user)">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="list list-inset" >
            account need WS<br>
            auto-save<br>
            Tel/Tel & Internet/Internet<br>
            wifi only
        </div>
    </content>
</view>
