

<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">Tips</h1>
    </header>
    <content has-header="true">
    </content>
</div>
<view title="'Tips'">
    <content has-header="true" padding="true">
                <div class="list">
                    <p>Mettre la facture bien à plat, évitez les plis</p>
                    <p>Avoir une bonne luminosité uniforme, evitez le flash au maximum</p>
                    <p>2 Mega pixel suffise</p>
                    <p>Et surtout n'oubliez pas, il faut que tous les éléments soit lisibles</p>
                    <button class="button button-full button-positive" ng-click="takePicture(0)">Take picture</button>
                </div>
    </content>
</view>
